{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="h-75 w-50 container bg-white d-flex align-items-center justify-content-center" style="position:relative;top:200px;margin-left: auto;margin-right: auto;">
<div class="text-black mb-0">
<article class="post">
<form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success btn-lg float-left">Submit</button>
</form>
{% endblock %}
