{% extends 'base.html' %}
{% block content %}
{% load static %}

<div style="background-image:url({% static 'images/Cover.jpg' %});">
<div class="container bg-white" style="position:relative;top:150px;">
<nav class="nav navbar-expand-lg navbar-light" >
<button class="navbar-toggler navbar-toggler-right btn btn-success" data-toggle="collapse" data-target="#optionnavbar" aria-controls="optionnavbar" aria-expanded="false" aria-label="Toggle navigation">Options
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="optionnavbar">
    <div class="navbar-nav ml-auto">
			<a class="nav-item nav-link" href="{% url 'searchbuy' %}">Search</a></li>
                        <a class="nav-item nav-link" href="{% url 'buyfilter' %}">Filter</a></li>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</a></li>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		        <a href="{% url 'sortbuy' %}" class="dropdown-item">Least Expensive First</a></li>
		        <a href="{% url 'sortbuyde' %}" class="dropdown-item">Most Expensive First</a></li>
			</div>
                </div>
            </div>
        </nav>


<div>

    
    {% for buy in buys %}
   
<section class="projects-section bg-white" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ buy.image1.url }}" alt="" height="300" width="300" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="card-title"><a href="{% url 'buy_detail' pk=buy.pk %}">{{ buy.propid }}</a></h4>
			    <p class="text-black-50 mb-0">{{ buy.city}}</p>
                            <p class="text-black-50 mb-0">{{ buy.proptype}}</p>
                            <p class="text-black-50 mb-0">{{ buy.use}}</p>
                        </div>
                    </div>
                </div>
</section>

    {% endfor %}
 </div> 
</div>  
{% endblock %}
