{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<h1 style="position:relative;top:150px;text-align:center">Sell Your Property </h1>
<div class="container d-flex align-items-center justify-content-center" style="position:relative;top:200px;margin-left: auto;margin-right: auto;background-image:url({% static 'images/Cover.jpg' %});">
<div class="text-white mb-0">
<article class="post">
    <form method="POST" class="post-form container" enctype="multipart/form-data">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-primary">Post</button>
    </form>
</article>
</div>
</div>
{% endblock %}
