{% extends 'base.html' %}
{% block content %}
<!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'images/Euphoria.jpg' %}" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Project of the month - Euphoria</h4>
                            <p class="text-black-50 mb-0">Euphoria is an affordable project situated in Kodambakkam, Chennai. The price of the flats under this project vary between INR 21.9 Lac - 49.9 Lac. These homes score high in privacy, comfort, wellness, convenience, location and everything else you would look for in a home</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'images/Shoreline.jpg' %}" alt="" style="width:650px;height: auto;" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Shoreline</h4>
                                    <p class="mb-0 text-white-50">Shoreline located in East Coast Road, Chennai is a well-crafted township. It has a number of apartments available between INR 87.6 Lac & 1.30 Cr.
Superior Distinguished Architectural Homes Bang on ECR, Next to Mayajaal. Premium Location closer to Beach, Office & Entertainment Zone</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'images/Fiesta.jpg' %}" alt="" style="width:650px;height: auto;" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Fiesta</h4>
                                    <p class="mb-0 text-white-50">Fiesta situated at Semmencherry, an address that is brimming with opluence, glamour and the finest lifestyle indulgences. A home that offers comfort and spacious interiors. Beautiful outdoor spaces for adults, kids and elders to relax and enjoy the perfectly calm surrounding. This project is designed with the best qualities and features.This project presents beautiful homes built for absolute comfort and to make your life much more convenient</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
