{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
div{
   font-family:raleway;
}
li {
    list-style-type: none; 
    display : inline;
    }
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: orange;
}
</style>

<div style="position:relative;top:90px;">
	<div style="background-image:url({% static 'images/Cover.jpg' %});">


		<div class="card container bg-black" >
			<div class="card-header" style="background-color:black">
				<ul class="nav float-right" style="position:relative;top:90px;">
				<li class="nav-item">
				<a class="nav-link btn btn-success float-right" href="{% url 'bookappointment' %}" >Book Appointment</a>
				</li>
				</ul>
			</div>



			<div class="card-body">

				<section class="projects-section bg-white" id="projects">

					<div class="container" style="font-family:raleway;">
						<h2><strong style="color: orange;">Property ID:  </strong> {{ rent.propid }}</h2>
						<p><strong style="color: orange;">Description:  </strong>{{ rent.description|linebreaksbr }}</p>
						<p><strong style="color: orange;">Area:  </strong>{{ rent.locality|linebreaksbr }}</p>
						<p><strong style="color: orange;">City:  </strong>{{ rent.city|linebreaksbr }}</p>
						<p><strong style="color: orange;">Property Type:  </strong>{{ rent.proptype|linebreaksbr }}</p>
						<p><strong style="color: orange;">Property Use:</strong>  {{ rent.use|linebreaksbr }}</p>
						<p><strong style="color: orange;">Price:  </strong>₹{{ rent.price|linebreaksbr }}</p>

					</div>

					<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
						<!--Slides-->
						<div class="carousel-inner" role="listbox">

							<!--First slide-->
							<div class="carousel-item active">

								<div class="row">
									<div class="col-md-4 mb-3 mb-md-0">
										<div class="card py-4 h-100">
											<img class="card-img-top" src="{{ rent.image1.url }}" alt="Card image cap" height="300px">
												<div class="card-body">
												<h4 class="card-title">{{ rent.propid }}</h4>
												<p class="card-text">LIVING ROOM</p>

												</div>
											</div>
										</div>

									<div class="col-md-4 mb-3 mb-md-0">
										<div class="card py-4 h-100">
											<img class="card-img-top" src="{{ rent.image2.url }}" alt="Card image cap" height="300px">
												<div class="card-body">
												<h4 class="card-title">{{ rent.propid }}</h4>
												<p class="card-text">KITCHEN</p>
												</div>
										</div>
									</div>

									<div class="col-md-4 mb-3 mb-md-0">
										<div class="card py-4 h-100">
											<img class="card-img-top" src="{{ rent.image3.url }}" alt="Card image cap" height="300px">
												<div class="card-body">
												<h4 class="card-title">{{ rent.propid }}</h4>
												<p class="card-text">BEDROOM</p>
												</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</section>	
			</div>
			<div class="card-body"><hr/><hr/>
				<h1 style="text-align:center;color:white;font-family:raleway">Recommended For You</h1><br><br>
					<div id="multi-item-example" class="carousel slide carousel-multi-item container" data-ride="carousel">
											<!--Slides-->
						<div class="carousel-inner" role="listbox">
							<!--First slide-->
							<div class="carousel-item active">
								<div class="row">

								{% for result in results %}
									<div class="col-md-4 mb-3 mb-md-0">
										<div class="card py-4 h-100">
											<div>
												<a href="{% url 'rent_detail' pk=result.pk %}">
												<img class="card-img-top" src="{{ result.image3.url }}" alt="Card image cap" height="300px">
												</a>
											</div> 
											<div class="card-body">
												<h4 class="card-title">₹{{ result.price }}</h4>
												<h5 class="card-title">{{ result.city }}</a></h5>
											</div>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
				
	</div>
</div>


{% endblock %}
